<mat-card *ngIf="post$ | async as post; else loading">

  <mat-card-actions>
    <button mat-button routerLink="/">
      <mat-icon>undo</mat-icon>
    </button>
  </mat-card-actions>

  <mat-card-header>
    <mat-card-title class="mat-h2">
      {{post.title}}
    </mat-card-title>
  </mat-card-header>

  <img mat-card-image
       [src]="post.urlToImage"
       alt="image">

  <mat-card-content>
    <p>{{post.content}}</p>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-subtitle>
      {{post.publishedAt | date:'medium'}}
    </mat-card-subtitle>

    <mat-card-subtitle>
      {{post.author}}
    </mat-card-subtitle>

    <mat-card-subtitle>
      <a [href]="post.url">{{post.url}}</a>
    </mat-card-subtitle>
  </mat-card-footer>

</mat-card>

<ng-template #loading>
  <div class="spinner-wrapper">
    <mat-spinner color="primary"></mat-spinner>
    <mat-panel-title>Loading...</mat-panel-title>
  </div>
</ng-template>
