<!--<div>-->
  <mat-form-field >
  <mat-label>Type text to filter</mat-label>
  <input matInput type="text" placeholder="Type text to filter">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" >
    <mat-icon>close</mat-icon>
  </button>

</mat-form-field>
<!--</div>-->

<mat-list>

  <mat-list-item class="mat-list-item mat-card"
    [routerLink]="['/22']">
    <app-post-card>

    </app-post-card>
  </mat-list-item>

  <mat-list-item class="mat-list-item mat-card"
    [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>

  <mat-list-item class="mat-list-item mat-card"
                 [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>

  <mat-list-item class="mat-list-item mat-card"
                 [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>

  <mat-list-item class="mat-list-item mat-card"
                 [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>

  <mat-list-item class="mat-list-item mat-card"
                 [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>

  <mat-list-item class="mat-list-item mat-card"
                 [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>
  <mat-list-item class="mat-list-item mat-card"
                 [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>

  <mat-list-item class="mat-list-item mat-card"
                 [routerLink]="['/33']"
                 style="padding: 0">
    <app-post-card>

    </app-post-card>
  </mat-list-item>


</mat-list>

<ng-template #loading>
  <mat-spinner color="primary"></mat-spinner>
</ng-template>
