mat-list {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  mat-list-item {
    height: inherit;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    flex: 0 1 25vw;

    .mat-list-item-content {
      height: 100%;
    }
  }
}

mat-form-field {
  display: block;
  margin: 0 auto;
  width: 300px;

  mat-label {
    color: black;
  }

  input {
    color: black;
  }

}


