/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import '~@angular/material/prebuilt-themes/purple-green.css';

.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}

.mat-list-item-content {
  height: 100% !important;
}

.spinner-wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-spinner {
    margin: 40px;
  }
}
